<configuration>

    <!-- Suppress debug logs from org.eclipse.jetty -->
    <logger name="org.eclipse.jetty" level="INFO" />

    <!-- Suppress debug logs from io.swagger -->
    <logger name="io.swagger" level="INFO" />

    <!-- Configure the root logger at the desired level -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <appender name="SECURITY-FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - [SECURITY] %msg%n</pattern>
        </encoder>
        <!-- Only accept events that have the SECURITY marker -->
        <filter class="ch.qos.logback.core.filter.MarkerFilter">
            <marker>SECURITY</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>